# Default values for rate-limit-operator.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: softonic/rate-limit-operator
  pullPolicy: IfNotPresent
  tag: 0.1.1

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  annotations: {}
  name:

podSecurityContext: {}

securityContext: {}

resources: {}
#  limits:
#    cpu: 100m
#    memory: 30Mi
#  requests:
#    cpu: 100m
#    memory: 20Mi


podLabels:
  service: istio
  site: global
